<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form class="register-form" id="register-form">

                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" required id="name" name="name" placeholder="Your Name" [(ngModel)]="name"/>
                        <!--<div *ngIf="form.controls.name.errors?.required && form.controls.name.touched" class="error">-->
                            <!--*Required-->
                        <!--</div>-->
                    </div>

                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input required type="password" name="password" [(ngModel)]="password" id="pass" placeholder="Password"/>
                    </div>

                    <div class="form-group">
                        <label for="mobile"><i class="zmdi zmdi-email"></i></label>
                        <input required type="number" name="mobile" [(ngModel)]="mobile" id="mobile" placeholder="Mobile"/>
                    </div>

                    <div class="form-group">
                        <label for="position"><i class="zmdi zmdi-email"></i></label>
                        <input required type="text" name="mobile" [(ngModel)]="position" id="position" placeholder="Position"/>
                    </div>

                    <div class="form-group form-button">
                        <input required type="submit" name="signup" id="signup" class="form-submit" value="Register" (click)="submit()"/>
                    </div>

                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/signup-image.jpg" alt="sing up image"></figure>
                <a routerLink="/sign_in" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>
